/* src/LanguagesAndTools.css */

.languages-and-tools {
    margin: 20px 0;
}

.languages-and-tools h3 {
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.languages-and-tools p {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.languages-and-tools a {
    transition: transform 0.2s;
}

.languages-and-tools a:hover {
    transform: scale(1.1);
}
  